#carrossel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 422px;
    aspect-ratio: 422 / 650;
}

#carrossel-container>div {
    position: absolute;
    max-width: 422px;
    max-height: 631px;
    width: 422px;
    height: 631px;
    transition: transform 0.3s ease;
}

#carrossel-container>div {
    overflow: hidden;
    border-radius: 20px;
}

.carrossel-element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#carrossel-container>div:nth-child(1) {
    transform: rotate(-3.41deg) translateY(0px);
    z-index: 3;
}

#carrossel-container>div:nth-child(2) {
    transform: rotate(7.42deg) translateY(-32px);
    z-index: 2;
}

#carrossel-container>div:nth-child(3) {
    transform: translateY(-32px);
    z-index: 1;
}

@media (max-width: 1680px) {
    #carrossel-container>div {
        width: 25rem;
        height: auto;
    }
}

@media (max-width: 768px) {
    #carrossel-container>div {
        width: 20rem;
        height: auto;
    }

    #carrossel-container>div:nth-child(1) {
        transform: rotate(5deg) translateY(0px);
    }

    #carrossel-container>div:nth-child(2) {
        transform: rotate(10deg) translateY(-32px);
    }

    #carrossel-container>div:nth-child(3) {
        transform: rotate(15deg) translateY(-32px);
    }
}