nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 1rem;
    margin: 2rem 0;
}

nav svg {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 9px inset rgba(54, 54, 54, 0.05), -30px -30px 4px inset white;
    border-radius: var(--rounded-full);
}

nav .a-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.25rem 1rem;
    gap: 8rem;
    border-radius: var(--rounded-full);
    box-shadow: 2px 4px 14px inset rgba(54, 54, 54, 0.05), -30px -30px 4px inset white;
}

nav .a-container a {
    font-family: "DM Sans", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: var(--gray-500);
    padding: 0.25rem 1rem;
    background-color: transparent;
    letter-spacing: -1px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
}

.title {
    font-family: "DM Sans", sans-serif;
    font-size: var(--text-6xl);
    color: var(--pink-600);
    margin-bottom: 2rem;
    letter-spacing: -1px;
}

.button-container {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.info-container {
    color: var(--gray-600);
}

.info-container .button-container {
    margin: 1rem;
}

.info-container button {
    background-color: var(--pink-600);
    padding: 10px 20px;
    color: var(--gray-100);
    font-weight: 700;
    font-size: 16px;
    border-radius: var(--rounded-full);
}

.info-container .inactive {
    background-color: var(--gray-400);
}

.info-container span {
    display: block;
    width: 90%;
    margin-left: 1.5rem;
    font-weight: 300;
    color: var(--gray-600);
    font-size: 14px;
}

.contato-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: fit-content;
    background-color: var(--gray-100);
    border-radius: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: 40%;
}

.form-container h2 {
    margin-bottom: 1rem;
    font-family: "DM Sans", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: var(--pink-700);
}

.form-container label {
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--pink-700);
}

.form-container input {
    width: 100%;
    border: 3px solid var(--pink-700);
    border-radius: var(--rounded-full);
    padding: 0.5rem 0.75rem;
    font-size: var(--text-sm);
}

.form-container .button-container {
    justify-content: flex-end;
}

.label-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-container button {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
    padding: 8px 20px;
    color: var(--pink-600);
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    border: 3px solid var(--pink-600);
    border-radius: var(--rounded-full);
}

.form-container button[type="submit"] {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
    padding: 8px 20px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--pink-600);
    border: 0;
    border-radius: var(--rounded-full);
}

.input-container {
    margin-bottom: 1.75rem;
}