footer {
    width: 100%;
    color: white;
    background-color: var(--pink-600);
    padding: 2rem 2rem 1.5rem;
}

footer h1 {
    margin-bottom: 0.5rem;
    padding-left: 2px;
}

footer .section-container {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
}

footer .section {
    display: flex;
    flex-direction: column;
}

footer .section div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 0.25rem;
    margin-bottom: 1rem;
}

footer .icon {
    width: 1.25rem;
    height: 1.25rem;
}

footer .main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    width: 100%;
}

footer .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .logo {
    margin-top: 20px;
    width: 12rem;
    height: auto;
}

footer .author {
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    width: 100%;
    padding-top: 4rem;
}

/* Tablet */

/* Celular */
@media (max-width: 768px) {
    footer {
        padding-top: 1rem;
    }

    footer .main-container {
        flex-direction: column;
        gap: 2rem;
    }

    footer .logo-container {
        width: 100%;
    }

    footer .section-container {
        flex-direction: column;
        width: 100%;
    }

    footer h1 {
        margin-bottom: 1.25rem;
    }

    footer .author {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
}