.novidades-container {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}

.novidades-container h1 {
    color: var(--pink-600);
    letter-spacing: -2%;
    line-height: 64px;
    margin-bottom: 0.5rem;
}

.novidades-container p {
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}

.novidades-container .info-container .icon {
    margin-bottom: 3rem;
}

.novidades-container .button-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 367px;    
}

.novidades-container .button-container button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1.25rem;
    color: var(--pink-600);
    font-size: 1rem;
    font-weight: 800;
    background-color: transparent;
    border: 2px solid var(--pink-600);
    border-radius: var(--rounded-full);
}

.side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stats-card-container {
    display: flex;
    align-items: stretch;
    gap: 1.5rem;
    width: 100%;
}

.stats-card-wrapper {
    display: flex;
    gap: 1.5rem;
}

.stats-card-wrapper>.stats-card:first-child {
    color: var(--olive-600);
}

.stats-card-wrapper>.stats-card:nth-child(2) {
    color: var(--orange-600);
}

.stats-card-sm-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    gap: 1.5rem;
}

.stats-card {
    display: flex;
    align-items: end;
    position: relative;
    width: 100%;
    max-width: 285px;
    aspect-ratio: 285/231;
    padding: 1.5rem;
}

.stats-card span,
.stats-card-sm span {
    font-size: 0.875rem;
    font-weight: 300;
}

.stats-card-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.stats-card>*:not(.stats-card-bg):not(.stats-icon) {
    position: relative;
    z-index: 1;
}

.stats-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 3.75rem;
    height: auto;
    padding-right: 8px;
    padding-top: 4px;
}

.stats-card .title {
    line-height: 1;
    margin-bottom: 0;
}

.stats-card-sm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(3/4 * 100% - 18px);
    padding: 0.5rem 0.75rem 0.75rem;
    border-radius: 24px;
    color: var(--pink-100);
    background-color: var(--pink-500);
}

.stats-card-sm div {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.stats-card-sm div img {
    padding-top: 0.5rem;
    padding-left: 2rem;
}

.stats-card-sm h1 {
    font-size: 3.125rem;
}

@media (max-width: 1024px) {
    .stats-card-sm h1 {
        font-size: 30px;
    }
}