body {
    background-color: var(--orange-500);
}

a {
    font-weight: 600;
    text-decoration: none;
    color: var(--orange-300);
}

label {
    font-weight: 700;
    font-size: 1.5rem;
}

.form-input {
    width: 100%;
    border: 3px solid var(--orange-300);
    border-radius: var(--rounded-full);
    padding: 0.75rem 1rem;
    font-size: var(--text-sm);
}

input::placeholder {
    color: var(--orange-300);
}

.form-container button {
    color: var(--orange-300);
    font-weight: 700;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    background-color: white;
    border: 2.5px solid var(--orange-300);
    border-radius: var(--rounded-full);
}

button[type="submit"] {
    color: white;
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--orange-300);
    padding: 1rem 1.25rem;
    border: 0;
    border-radius: var(--rounded-full);
}

.title {
    font-family: "DM Sans", sans-serif;
    font-size: var(--text-6xl);
    margin-bottom: 6rem;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 60%;
    background-color: var(--orange-500);
}

.logo-container #logo {
    margin: 2rem 6rem;
}

.side-container {
    color: var(--orange-300);
    width: 40%;
    border-radius: 2rem 0 0 2rem;
    background-color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 12rem 4rem 0px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 100%;
    margin-bottom: 2rem;
}

.label-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
}

.a-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.password-container {
    display: flex;
    align-items: center;
    gap: 4px;
    border: 3px solid var(--orange-300);
    border-radius: var(--rounded-full);
    padding: 0.75rem 1rem;
    font-size: var(--text-sm);
}

.password-container input {
    width: 100%;
}