nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 1rem;
    margin: 2rem 0;
}

nav svg {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 9px inset rgba(54, 54, 54, 0.05);
    border-radius: var(--rounded-full);
    cursor: pointer;
}

nav div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgba(255, 75, 165, 0.5);
    border-radius: var(--rounded-full);
    box-shadow: 0px 12px 20px inset rgba(0, 0, 0, 0.15), -4px -4px 6px inset rgba(255, 255, 255, 0.1);
}

nav .a-container {
    padding: 0.25rem 1rem;
    gap: 4rem;
}

nav .logo {
    display: none;
}

nav .a-container a {
    font-family: "DM Sans", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: var(--gray-500);
    padding: 0.25rem 1.25rem;
    background-color: transparent;
    letter-spacing: -1px;
    cursor: pointer;
}

nav .a-container a:last-child {
    line-height: 0;
}

@media (max-width: 425px) {
    nav {
        position: sticky;
    }

    nav .icon-container {
        width: auto;
    }

    nav .icon-container svg {
        width: 60px;
        height: 60px;
    }

    nav .logo {
        display: block;
    }

    nav .a-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    nav .a-container a {
        display: none;
    }
}