nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 1rem;
    margin: 2rem 0;
}

nav svg {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 9px inset rgba(54, 54, 54, 0.05), -30px -30px 4px inset white;
    border-radius: var(--rounded-full);
}

nav .a-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.25rem 1rem;
    gap: 8rem;
    border-radius: var(--rounded-full);
    box-shadow: 2px 4px 14px inset rgba(54, 54, 54, 0.05), -30px -30px 4px inset white;
}

nav .a-container a {
    font-family: "DM Sans", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: var(--gray-500);
    padding: 0.25rem 1rem;
    background-color: transparent;
    letter-spacing: -1px;
    cursor: pointer;
}