nav a {
    color: white !important;
}

main {
    padding: 0 12rem;
}

.title {
    color: var(--pink-600);
    margin-bottom: 1rem !important;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6rem;
    background-color: var(--pink-500);
    border-radius: 0 0 16px 16px;
}

.intro-container div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
}

.intro-container div #logo {
    width: clamp(12rem, 28vw, 24rem);
    max-width: 100%;
}

.intro-container .text-container {
    padding: 0 6rem 0 0;
}

.intro-container #mascote {
    width: fit-content;
    max-width: 100%;
    transform: translateX(-10rem);
    margin-bottom: 1rem;
}

.intro-container p {
    font-weight: 400;
    margin-top: 2rem;
    color: white;
    line-height: 140%;
}

#carousel-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 3rem 0.5rem 6rem;
    overflow: hidden;
}

#carousel-container div {
    padding: 0.25rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--pink-700);
    border: 4px solid var(--pink-700);
    border-radius: var(--rounded-full);
    white-space: nowrap;
}

.main-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
    background-color: var(--green-200);
    border-radius: 24px;
    overflow: hidden;
}

.main-card .logo-flip {
    display: none;
}

.main-card div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 2rem 0 6rem 6rem;
}

.main-card .title {
    color: black;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    width: 100%;
    margin-bottom: 6rem;
}

.card-container img {
    max-width: 500px;
}

.person-card-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    width: 100%;
    max-width: 1400px;
    margin-bottom: 8rem;
}

.person-card-container>div:first-child {
    background-color: var(--orange-300);
}

.person-card-container>div:first-child>span {
    background-color: var(--orange-500);
}

.person-card-container>div:nth-child(2) {
    background-color: var(--green-400);
}

.person-card-container>div:nth-child(2)>span {
    background-color: var(--green-600);
}

.person-card-container>div:nth-child(3) {
    background-color: var(--pink-200);
}

.person-card-container>div:nth-child(3)>span {
    background-color: var(--pink-400);
}

.person-card-container>div:nth-child(4) {
    background-color: var(--aqua-300);
}

.person-card-container>div:nth-child(4)>span {
    background-color: var(--aqua-500);
}

.person-card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.person-card img {
    width: 100%;
    height: 100%;
}

.person-card span {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    border-radius: var(--rounded-full);
    padding: 10px;
    font-weight: 600;
    color: white;
}

@media (max-width: 768px) {
    .intro-container {
        flex-direction: column;
        overflow-x: hidden;
        padding-bottom: 4rem;
    }

    .intro-container div {
        width: 100%;
    }

    .intro-container #mascote {
        max-width: 150%;
        transform: translateX(-17rem);
    }

    .intro-container .text-container {
        padding: 0 1rem;
    }

    #carousel-container {
        padding: 4rem 1rem 4rem;
    }

    main {
        padding: 0 1rem;
    }

    .main-card div {
        padding: 2rem 1rem;
    }

    .main-card p {
        line-height: 140%;
    }
}

@media (max-width: 1300px) {
    .main-card {
        flex-direction: column;
    }

    .main-card .logo-flip {
        display: block;
    }

    .main-card .logo {
        display: none;
    }

    .main-card div {
        width: 100%;
    }

    .card-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .card-container img {
        max-width: 100%;
    }

    .person-card-container {
        padding: 0 4rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

/* 4K */
@media (min-width: 1780px) {
    .card-container {
        display: flex;
    }

    .intro-container .text-container {
        width: 50%;
    }
}