@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --main-bg-color: white;

  --orange-300: #F78520;
  --orange-400: #C06616;
  --orange-500: #8C490D;

  --yellow-600: #F8C200;

  --green-200: #A1D54A;
  --green-400: #62832A;
  --green-600: #2A3A0E;

  --aqua-300: #005842;
  --aqua-500: #003426;

  --gray-100: #F8F8F8;
  --gray-400: #7E7E7D;
  --gray-500: #5A5A5A;
  --gray-600: #393939;

  --pink-200: #D532A7;
  --pink-400: #63124C;
  --pink-500: #BF0259;
  --pink-600: #81013A;
  --pink-700: #48001D;

  --rounded-xl: 12px;
  --rounded-4xl: 32px;
  --rounded-full: calc(infinity * 1px);

  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-6xl: 3.75rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  display: flex;
  width: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  justify-content: space-between;
}

html,
body {
  flex-direction: column;
}

.title {
  font-family: "DM Sans", sans-serif;
  font-size: var(--text-6xl);
  margin-bottom: 2rem;
  letter-spacing: -1px;
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }

  .title {
    font-size: 40px;
  }
}