@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --main-bg-color: white;

  --orange-300: #F78520;
  --orange-500: #8C490D;

  --gray-100: #F8F8F8;
  --gray-400: #7E7E7D;
  --gray-500: #5A5A5A;
  --gray-600: #393939;

  --pink-600: #81013A;
  --pink-700: #48001D;

  --rounded-xl: 12px;
  --rounded-4xl: 32px;
  --rounded-full: calc(infinity * 1px);

  --text-sm: 0.875rem;
  --text-6xl: 3.75rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  display: flex;
  width: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  flex-direction: column;
  justify-content: space-between;
}